@charset "utf-8";
@import url("./normalize.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.readable-hidden,
legend {
    background: red; /*테스트하기 위해*/
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

/* header */
.header {
    top: 0;
    position: fixed;
    z-index: 100;
    height: 90px;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.95);
}

.headerMenu {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
    display: inline-block;
}

.header h1 img {
    width: 70px;
}

.logo {
    float: left;
    margin-top: 33px;
}

.headerMenuLanguage {
    float: right;
}

.languageMenuBtn {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 0 10px 15px;
    text-align: left;
    width: 130px;
    height: 40px;
    color: #838383;
    border-radius: 50px;
    border: 1px solid #adadad;
    background: hsla(0, 0%, 100%, 0);
}

.languageMenuBtn::after {
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #838383;
    border-right: 1px solid #838383;
    position: absolute;
    top: 43px;
    margin-left: 40px;
    transform: translateY(-50%) rotate(135deg);
}

.languageMenuList {
    display: block;
    height: 25px;
    color: #838383;
}

.languageMenuListA {
    width: 100%;
    padding-left: 15px;
    display: block;
    width: 120px;
    height: 25px;
}

.languageMenuLiClicked {
    margin-top: 25px;
    padding-top: 10px;
    width: 130px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid #adadad;
    background: hsla(0, 0%, 100%, 1);
}

.dropboxHide {
    display: none !important;
}

.firstLanguageMenuList > a::after {
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #838383;
    border-right: 1px solid #838383;
    position: absolute;
    top: 47px;
    margin-left: 38px;
    transform: translateY(-50%) rotate(-45deg);
}

.menu {
    padding-left: 130px;
    float: left;
}

.menu-item {
    float: left;
    /* position: relative; */
}

.menu-item a {
    cursor: pointer;
    display: inline;
}

.menu-item a:hover {
    color: #00c300;
}

.menu-item-text {
    margin: 0 25px;
    display: block;
    line-height: 88px;
    font-size: 1.1rem;
}

.menu-item > ul > li {
    margin: 0 15px;
}

.sub-menu {
    padding: 25px 0;
    background: hsla(0, 0%, 94%, 0.95);
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    /* display: none; */
    line-height: 30px;
}

.menu-act .sub-menu {
    height: auto;
    /* display: block !important; */
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
    vertical-align: top;
}

.sub-menu-sub {
    display: inline-block\ !important;
}

.sub-menu-sub-sub {
    display: block !important;
    color: #838383;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.show {
    transition-duration: 0.3s;
    transition-property: max-height;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

li .sitemap {
    margin-left: 300px;
    color: #adadad;
}

li .sitemap:hover {
    color: #adadad !important;
}

/* LINEMission */

.LINEMission {
    margin-top: 90px;
    position: relative;
    height: 610px;
    overflow: hidden;
}

.LINEMission-text {
    position: absolute;
    z-index: 10;
    top: 39%;
    color: #fff;
    font-weight: bold;
    font-size: 3.3rem;
    width: 100%;
    text-align: center;
}

.LINEMission-button {
    position: absolute;
    z-index: 10;
    color: #fff;
    background: hsla(0, 0%, 0%, 0);
    height: 45px;
    width: 180px;
    border-radius: 50px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 45px;
    top: 57%;
    left: 43%;
}

.video-bg {
    pointer-events: none;
    width: 100%;
    height: 1200px;
    position: absolute;
    top: -260px;
}

/* 뉴스 */
.news {
    position: relative;
    margin-top: 60px;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    font-size: 35px;
    font-weight: 100;
}

.news-item {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item li {
    margin: 10px;
    width: 530px;
    height: 60px;
}

.news-item li p:first-of-type {
    font-size: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item li p:last-of-type {
    color: #00c300;
    margin-top: 10px;
    font-size: 0.9rem;
}

.news-more {
    position: absolute;
    top: 15px;
    right: 0;
    color: #777;
}

/* 비즈니스 제휴 문의 */
